<div class="report-widget">
    <h3>Токены</h3>
    <div
        class="control-chart wrap-legend"
        data-control="chart-bar"
        data-height="100"
        data-full-width="6">
        <ul>
            <li>Токенов всего <span><?= $tokens ?></span></li>
            <li>Токенов на продаже<span><?= $tokens_sale ?></span></li>
            <li>Токенов на модерации<span><?= $tokens_moder ?></span></li>
            <li>Покупок токенов<span><?= $tokens_order ?></span></li>
        </ul>
    </div>
</div>
